<ion-grid>
  <ion-row justify-content-center>
    <ion-col col-auto (click)="back()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-col>
    <ion-col col-auto>
      <div>{{displayYear}} - {{displayMonth + 1 |monthName}}</div>
    </ion-col>
    <ion-col col-auto (click)="forward()">
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="center calendar-header-col" *ngFor="let head of weekHead">{{head}}</ion-col>
  </ion-row>

  <ion-row class="calendar-row" *ngFor="let week of weekArray;let i = index">
    <ion-col class="center calendar-col" (click)="daySelect(day,i,j)" *ngFor="let day of week;let j = index" [ngClass]="[day.isThisMonth?'this-month':'not-this-month',day.isToday?'today':'',day.isSelect?'select':'']">
      <span class="diadata">{{day.date}}</span>
      <!--<span class="eventBlip" *ngIf="day.hasEvent"></span>-->

      <span class="cl-agnd" *ngIf="day.hasEvent">
        <span class="agendado" *ngFor="let ag of day.agenda" [ngStyle]="{'background-color': ag.cor}">
          {{ag.texto}}
        </span>
      </span>
    </ion-col>
  </ion-row>

</ion-grid>

