mycal {
    font-family: Helvetica, Arial, sans-serif;
  .center {
    text-align: center;
  }
  .grid{
    /*background-color: red;
    height: 100%;*/
  }

  .calendar-header-col {
    font-size: 1rem;
    color: #666;
  }
  .calendar-row {

    &:last-child {
      border-bottom: 1px solid #eee;
    }

    .calendar-col {
      display: flex;
      justify-content: center;
      padding: 0.8rem;
      font-size: 1.2rem;
      border-left: 1px solid #eee;
      border-top: 1px solid #eee;
      position: relative;
      min-height: 80px;
      overflow:auto;
      background-color: #fff;
      width: 55px;
      .diadata{
        text-align: center;
        float: left;
        width: 100%;
        position: absolute;
        top: 5px;
        margin-bottom: 25px;
      }
      .cl-agnd{
        position: absolute;
        left: 3px;
        top: 25px;
        /*width: 55px;
        height: 20px;*/
        width: 100%;
        overflow-y: hidden;
      }
      .agendado{
        float: left;
        margin-bottom: 2px;
        clear: both;
        /*color: #fff;*/
        padding-bottom: 3px;
        /*background-color: #ccc;*/
        padding: 3px;
        width: 250%;
        text-align: left;
      }

      &:last-child {
        border-right: 1px solid #eee;
      }
    }
    .not-this-month {
      color: #989898;
      background: #eee;
    }
    .today {
      color: #fff;
      box-shadow: inset 0 0 10px #aaa;
      background: #46b592;
    }
    .eventBlip {
      background: #46b592;
      width: 6.5px;
      height: 65px;
      /*overflow: auto;*/
      display: inline-block;
      border-radius: 6.5px;
      position: absolute;
      top: 3.5px;
      right: 3.5px;
    }
    .select {
      box-shadow: none;
      color: #fff;
      background: #555fab;
    }
  }
}
