page-login {
    ion-content {
        background-image: url('../assets/imgs/signin_background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .row-top img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
    }
    .login {
        background-color: rgba(255, 255, 255, 0);
        border-bottom-style: solid !important;
        border-bottom-color: rgba(255, 255, 255, 0.1) !important;
        border-bottom-width: 2px !important;
    }
    .forgot {
        background-color: rgba(255, 255, 255, 0);
        margin-bottom: 50px;
        font-size: 1.4rem;
        font-weight: 300;
    }
    .item-inner {
        margin-left: 0px !important;
    }
    scroll-content {
        overflow-y: auto !important;
    }
}
