<ion-content padding class="no-scroll">
  <ion-grid>
    <ion-row class="row-top">
      <img height="160" width="160" src="assets/imgs/logo.png">
    </ion-row>
    <ion-row>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer no-border>
  <ion-item *ngIf="falhaLogin" text-center class="forgot" no-lines>
    <ion-label color="danger" style="color: #a51111">Usuário ou Senha incorretos</ion-label>
  </ion-item>
  <ion-item class="login" no-lines>
    <ion-icon item-start color="gray-light" name="person"></ion-icon>
    <ion-input [(ngModel)]="usuario" color="white" placeholder="Usuário"></ion-input>
  </ion-item>

  <ion-item class="login" no-lines>
    <ion-icon item-start color="gray-light" name="lock"></ion-icon>
    <ion-input [(ngModel)]="senha" type="password" color="white" placeholder="Senha"></ion-input>
  </ion-item>

  <!--<ion-item class="forgot" no-lines>
    <ion-label color="gray-light" text-right item-end>Esqueci a senha</ion-label>
  </ion-item>-->

  <button ion-button full strong color="primary" no-margin (click)="login()"> Login</button>
  <ion-item class="forgot" no-lines></ion-item>
  <!--<button ion-button full outline no-margin color="gray-light" (click)="goToSignupPage()">Ainda não tem conta? Cadastrar</button>
  <button ion-button full outline no-margin color="gray-light">Ainda não tem conta? Cadastrar</button>-->

</ion-footer>