<ion-header>
  <ion-toolbar>
    <ion-title>
      Selecionar novo período
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab bottom right>
    <button ion-fab (click)="selecionarData()">
      <ion-icon name="md-checkmark-circle"></ion-icon>
    </button>
  </ion-fab>

  <br/>
  <br/>
  <br/>
  <ion-list>

    <ion-item> 
      <ion-label>Ano</ion-label>
      <ion-select [ngModel]="anoSelecionado" (ngModelChange)="selAno($event)">
        <ion-option [value]="an" *ngFor="let an of anos">{{an}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item> 
      <ion-label>Mês</ion-label>
      <ion-select [ngModel]="mesSelecionado" (ngModelChange)="selMes($event)">
        <ion-option [value]="me" *ngFor="let me of meses">{{me}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>