page-timeline {
    ion-header {
        background-image: url('../assets/imgs/timeline_background.png') !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 190px;
    }
    .toolbar-title {
        padding-right: 12px;
        padding-left: 12px;
        font-size: 4rem;
        font-weight: 300 !important;
        color: #ffffff !important;
        text-align: left;
    }
    ion-title.title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .item-md{
        padding-left: 0px;
    }
    .tarefa{
        /*border-left-style: solid !important;
        border-left-width: 4px !important;
        border-left-color: color($colors, completed) !important;*/
        border-top-style: solid !important;
        border-top-width: 1px !important;
        border-top-color: color($colors, light)!important;
    }
    .cortarefa{
        float: left;
        left: 0;
        height: 70px;
        width: 5px;
       
        padding-left: 5px;
    }
    .elemtarefa{
        padding-left: 15px;
        padding-top: 3px;
    }
    .task-completed {
        border-left-style: solid !important;
        border-left-width: 4px !important;
        border-left-color: color($colors, completed) !important;
        border-top-style: solid !important;
        border-top-width: 1px !important;
        border-top-color: color($colors, light)!important;
    }
    .task-snoozed {
        border-left-style: solid !important;
        border-left-width: 4px !important;
        border-left-color: color($colors, snoozed) !important;
        border-top-style: solid !important;
        border-top-width: 1px !important;
        border-top-color: color($colors, light)!important;
    }
    .item ion-avatar img {
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .item h2 {
        font-size: 1.6rem;
    }
    .item p {
        font-size: 1.5rem;
        color: color($colors, gray-soft);
        font-weight: 300;
    }
    .item-divider {
        padding-left: 16px;
        border-bottom: none !important;
        font-size: 1.2rem;
        color: #c5c5c7;
        background-color: #f8f8f8 !important;
        min-height: 5em;
    }
}