<ion-header no-border>
  <ion-navbar hideBackButton transparent>
    <button ion-button menuToggle>
      <ion-icon color="white" name="menu"></ion-icon>
    </button>
    <!--<ion-buttons end>
      <button ion-button icon-only>
        <ion-icon color="white" name="image"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons left>
        <button ion-button icon-only (click)="voltar()" color="white">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

  <ion-title>Agenda</ion-title>
  <ion-fab edge bottom right>
    <button (click)="create(dataToGo)" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-header>

<ion-content>

  <ion-list no-padding no-margin>
    <ion-item-divider>Agenda do dia {{dataAgenda}}</ion-item-divider>

    <ion-item class="tarefa" (click)="editar(agd)" no-lines *ngFor="let agd of agendas;">
      <div class="cortarefa" [ngStyle]="{'background-color': agd.LabelColor }"></div>
      <div class="elemtarefa">
        <h2>{{agd.Caption}}</h2>
        <p>{{agd.Message}}</p>
        <small>{{agd.Location}}</small>
      </div>
    </ion-item>

  </ion-list>

  <!--<ion-list no-padding no-margin>
    <ion-item-divider>
     Agenda do dia {{dataAgenda}}
    </ion-item-divider>
    <ion-item class="task-completed" no-lines>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar2.png">
      </ion-avatar>
      <h2>Appointment with Carol</h2>
      <p>9 - 10am</p>
    </ion-item>
    <ion-item class="task-completed" no-lines>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar3.png">
      </ion-avatar>
      <h2>Catch up with Susan</h2>
      <p>11-12pm | Hangout</p>
    </ion-item>
    <ion-item class="task-snoozed" no-lines>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar1.png">
      </ion-avatar>
      <h2>Lunch with Diane</h2>
      <p>1pm | Restaurant</p>
    </ion-item>
  </ion-list>-->

</ion-content>