// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

//Inputs
$text-input-placeholder-color: white;

.has-refresher scroll-content {
  border-top: 0px;
}

.no-scroll .scroll-content{
  overflow: hidden;
}

input.text-input.text-input {
  color: white;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ff3366,
  secondary:  #50d2c2,
  light:      #f4f4f4,
  white:      #ffffff,
  gray-light: #bbbab8,
  gray-soft:  #a8a8aa,
  gray-back:  #fbfbfb,
  black:      #1d1d26,
  completed: #50d2c2,
  snoozed: #fcab53,
  overdue: #ba77ff
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$button-ios-height:	60px;
$button-ios-text-transform: none;
$button-ios-box-shadow: 0;
$button-ios-outline-border-width: 0;
$button-ios-font-weight: 300;
$button-ios-font-size: 1.4rem;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

//Buttons
$button-md-height:	60px;
$button-md-text-transform: none;
$button-md-box-shadow: 0;
$button-md-outline-border-width: 0;
$button-md-font-weight: 300;
$button-md-font-size: 1.4rem;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

//Open Sans Style Font
/*
$font-family-md-base: "Open Sans";
$font-family-ios-base: "Open Sans";
$font-family-wp-base: "Open Sans";
*/

//Montserrat Style Font
/*
$font-family-md-base: 'Montserrat', sans-serif !important;
$font-family-ios-base: 'Montserrat', sans-serif !important;
$font-family-wp-base: 'Montserrat', sans-serif !important;
*/

//Inconsolata Style Font
$font-family-md-base: 'Inconsolata', monospace !important;
$font-family-ios-base: 'Inconsolata', monospace !important;
$font-family-wp-base: 'Inconsolata', monospace !important;
