//FONT STYLE OPEN SANS
//UNCOMMENT THIS FOR OPEN SANS FONT

$font-family-base: "Open Sans", sans-serif !default;
/*
body{
  font-family: "Open Sans" !important;
  font-weight: 300 !important;
}

h1, h2, button {
  font-family: "Open Sans" !important;
}

@font-face {
  font-family: 'Open Sans';
  font-style: light;
  font-weight: 300;
  src: url('../assets/fonts/opensans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/opensans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/opensans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/opensans/OpenSans-ExtraBold.ttf');
}
*/

//FONT STYLE MONTSERRAT
//UNCOMMENT THIS FOR MONTSERRAT FONT

/*
$font-family-base: 'Montserrat', sans-serif !important;


body{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
}

h1, h2, button {
  font-family: "Montserrat", sans-serif !important;
}


@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: light;
  font-weight: 300;
  src: url('../assets/fonts/montserrat/Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}
*/

//FONT STYLE INCONSOLATA
//UNCOMMENT THIS FOR INCONSOLATA FONT

$font-family-base: 'Inconsolata', monospace !important;

body{
  font-family: 'Inconsolata', monospace !important;
  font-weight: 300 !important;
}

h1, h2, button {
  font-family: 'Inconsolata', monospace !important;
}

@font-face {
  font-family: 'Inconsolata', monospace !important;
  font-style: light;
  font-weight: 300;
  src: url('../assets/fonts/inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'Inconsolata', monospace !important;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'Inconsolata', monospace !important;
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/inconsolata/Inconsolata-Bold.ttf');
}

@font-face {
  font-family: 'Inconsolata', monospace !important;
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/inconsolata/Inconsolata-Bold.ttf');
}

@font-face {
  font-family: 'Inconsolata', monospace !important;
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/inconsolata/Inconsolata-Bold.ttf');
}