<ion-menu [content]="content">
  <ion-header no-border>
    <ion-toolbar>
      <button ion-button large menuClose outline>
        <ion-icon color="gray-soft" name="close"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-padding no-margin class="sidebar">
      <button no-lines menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>