page-calendar {

    table{
        width: 100%;
        margin-top: 10vh;
    }
    tr{
        width: 100%;
    }
    th{
        padding: 10px;
    }

    td{
        padding-bottom: 5px;
    }

    td.circle:before {
        content: attr(data-char);
        display: block;
        background: #e4a9a9b5;
        width: 35px;
        height: 35px;
        line-height:35px;
        text-align:center;
        vertical-align: middle;
        border-radius: 50%;
        margin:0 auto;
    }
    td.empty:before {
        content: attr(data-char);
        display: block;
        background: #e6e6fb78;
        color: #000;
        width: 35px;
        height: 35px;
        line-height:35px;
        text-align:center;
        vertical-align: middle;
        border-radius: 50%;
        margin:0 auto;
    }
    ion-header {
        height: 17%;
        background-image: url('../assets/imgs/february.png') !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .toolbar-title {
        font-size: 3rem !important;
        font-weight: 300 !important;
        color: #ffffff !important;
        text-align: right !important;
        /*padding-left: 35%;*/
    }
    ion-title.title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .day {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        text-align: center !important;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-weight: 400;
    }
    .selected-day {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: #f3f3f4;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-weight: 400;
    }
    .point {
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background: color($colors, primary);
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 70%;
    }
    .week {
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .range-selector {
        padding-right: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .range-selected {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: white;
    }
    .event-selected {
        border-left-style: solid !important;
        border-left-width: 4px !important;
        border-left-color: color($colors, secondary) !important;
        border-top-style: solid !important;
        border-top-width: 1px !important;
        border-top-color: color($colors, light)!important;
    }
    .event {
        border-left-style: solid !important;
        border-left-width: 4px !important;
        border-left-color: #e8e8e9 !important;
        border-top-style: solid !important;
        border-top-width: 1px !important;
        border-top-color: color($colors, light)!important;
    }
    .item ion-avatar img {
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .item h2 {
        font-size: 1.3rem;
    }
    .item p {
        font-size: 1rem;
        color: color($colors, gray-soft);
        font-weight: 300;
    }

    .exisagenda{
        background-color: #e8cec0;
    }

    mycal {
        font-family: Helvetica, Arial, sans-serif;
      .center {
        text-align: center;
      }
      .calendar-header-col {
        font-size: 1rem;
        color: #666;
      }
      .calendar-row {
        &:last-child {
          border-bottom: 1px solid #eee;
        }
        .calendar-col {
          display: flex;
          justify-content: center;
          padding: 0.8rem;
          font-size: 1.2rem;
          border-left: 1px solid #eee;
          border-top: 1px solid #eee;
          &:last-child {
            border-right: 1px solid #eee;
          }
        }
        .not-this-month {
          color: #989898;
          background: #eee;
        }
        .today {
          color: #fff;
          box-shadow: inset 0 0 10px #aaa;
          background: #46b592;
        }
        .eventBlip {
          background: #46b592;
          width: 6.5px;
          height: 6.5px;
          display: inline-block;
          border-radius: 6.5px;
          position: absolute;
          top: 3.5px;
          right: 3.5px;
        }
        .select {
          box-shadow: none;
          color: #fff;
          background: #46b592;
        }
      }
    }
}