<ion-header no-border>
  <ion-navbar hideBackButton transparent>

    <button ion-button menuToggle>
      <ion-icon color="white" name="menu"></ion-icon>
    </button>
    <!--
    <ion-buttons end>
      <button (click)="calendario()" ion-button icon-only>
        <ion-icon color="white" name="calendar"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-title padding-top text-right>{{currentDate}}</ion-title>
    
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab (click)="create()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <mycal [events]="changeCalendario" (onDaySelect)="onDaySelect($event)" (onMonthSelect)="onMonthSelect($event)"></mycal>
</ion-content>

<!--
<ion-content>

  <ion-fab bottom right>
    <button ion-fab (click)="create()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  
  <table id="calendar">
      <thead>
      <tr>
          <th>DOM</th>
          <th>SEG</th>
          <th>TER</th>
          <th>QUA</th>
          <th>QUI</th>
          <th>SEX</th>
          <th>SAB</th>
      </tr>
      </thead>

      <tbody align="center" id="calendar-body"></tbody>
  </table>

  <div class="week">
    <ion-grid padding-right padding-left>
    </ion-grid>
  </div>

</ion-content>
-->