page-create {
    ion-header {
        background-image: url('../assets/imgs/create_background.png') !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 190px;
    }
    .toolbar-title {
        padding-right: 12px;
        padding-left: 12px;
        font-size: 4rem;
        font-weight: 300 !important;
        color: #ffffff !important;
        text-align: left;
    }
    .title {
        padding: 8px;
        text-align: center !important;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-weight: 600;
        font-size: 2.5rem;
    }
    ion-title.title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    } 
    
    
    ion-list.single {
        margin: 0px !important;
        .item {
            border-bottom-style: solid !important;
            border-bottom-width: 1px !important;
            border-bottom-color: color($colors, light) !important;
        }
        .item-block {
            min-height: 7rem;
        }
        ion-avatar {
            margin: 0px !important;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    ion-list.group {
        margin: 0px !important;
        border-bottom-style: solid !important;
        border-bottom-width: 1px !important;
        border-bottom-color: color($colors, light)!important;
    }
    
    ion-fab {
        .fab-md{
            background-color: #0ec254;
        }
    }

    .inptitulo{
        ::-webkit-input-placeholder {
            color: #ccc !important;
        }
        padding: 5px;
        font-size: 30px;
    }

    .inpdescri{
        ::-webkit-input-placeholder {
            color: #a8a8aa;
        }
        input.text-input.text-input{
            color: #000;
        }
        .text-input-md{
            margin: 0px;
        }
    }

    ion-option{
        height: 25px;
        width: 25px;
        background-color: red !important;
        color: red !important;
        border: 10px solid green !important;
    }
}


.colorselect {
        .select-text {
                width: 75px;
                border-radius: 5px;
        }

        .alert-radio-inner,
        .alert-radio-icon,
        .alert-radio-label {
                display: none;
        }

        &.colorselected:before {
                content: '\2713';
                color: white;
                z-index: 999999;
                width: 100%;
                height: 100%;
                font-size: 33px;
                left: 50%;
                top: 50%;
                position: relative;
                transform: translate(-50%);
        }

        $colorsToSelect: "#84edf5" "#ffb675"  "#e6e6d5"  "#ffe675"  "#ff9585"  "#a5de64"  "#859fe6"  "#c4a6f5"  "#d4cc83"  "#a5cfc6";

        @each $colorOption in $colorsToSelect {
                $colorWithoutHash: str-slice($colorOption, 2, 7);

                &.color_#{$colorWithoutHash} {
                        &, & .select-text {
                                color: #{$colorOption};
                                background-color: #{$colorOption};
                        }
                }
        }
}
