<ion-header no-border>
  <ion-navbar hideBackButton transparent>

    <button ion-button menuToggle>
      <ion-icon color="white" name="menu"></ion-icon>
    </button>

    <ion-buttons left>
        <button ion-button icon-only (click)="voltar()" color="white">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>

  <ion-input [(ngModel)]="titulo" class="inptitulo" placeholder="Adicionar título"></ion-input>

  <!--<ion-fab edge bottom right>
    <button ion-fab>
      <ion-icon name="md-checkmark"></ion-icon>
    </button>
  </ion-fab>-->

</ion-header>

<ion-content>

  <ion-fab bottom right>
    <button ion-fab (click)="salvar()">
      <ion-icon name="md-checkmark"></ion-icon>
    </button>
  </ion-fab>

<br/><br/>
  <ion-list class="single">
    <ion-item no-lines>
      <ion-textarea rows="4" [(ngModel)]="descri" class="inpdescri" placeholder="Descrição"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item no-lines>
      <ion-input [(ngModel)]="local" class="inpdescri" placeholder="Local"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="gray-soft">Início</ion-label>
      <!--<ion-datetime doneText="Confirmar" cancelText="Cancelar" [(ngModel)]="fromDate" displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>-->
      <ion-datetime doneText="Confirmar" cancelText="Cancelar" [(ngModel)]="fromDate" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="gray-soft">Fim</ion-label>
      <ion-datetime doneText="Confirmar" cancelText="Cancelar" [(ngModel)]="toDate" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item no-lines> 
      <ion-label>Grupo</ion-label>
      <ion-select [ngModel]="grupos" (ngModelChange)="getGrupoOpt($event)">
        <ion-option [value]="gp.id" *ngFor="let gp of grupos">{{gp.nome}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-row class="colorselect color_{{color.slice(1,7)}}">
      <ion-item>
        <ion-label class="primarylabel">Cores</ion-label>
        <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(this.color)" [(ngModel)]="color">
          <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors" [value]="optioncolor">{{optioncolor}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    </ion-list>
</ion-content>